.navbar-custom .nav-link {
  color: white;
}

.banner {
    background-image: url("../img/banner-2.png");
    height: 150px; 
    width: calc(100% - 20px); 
    margin: 10px; 
    background-repeat: no-repeat;
    margin: 10px 10px;
    background-size: cover; 
  }
  
  
  img,
  svg {
    vertical-align: middle;
  }
  
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
  
  img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.logo {
  margin-right: auto; 
}

.logoImage {
  height: 90px;
  width: auto;
}


